.section {
    margin-top: 17px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.list {
    list-style: none;
    padding: 1px;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.list-item:last-child {
    border-bottom: none;
}

.list-item .name {
    font-weight: bold;
}

.group-list {
    font-weight: bold;
    margin-top: 10px;
}
/* Left-align content and reduce font size */
.section {
    text-align: left;
}

.list-item {
    font-size: 14px;
}

.group-list {
    font-size: 14px;
}

.left-link {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.highlighted-cell {
    background-color: yellow;
    font-weight: bold;
}

.arrow-button {
    background-color: #0074d9; /* Background color */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 20px; /* Padding for button size */
    font-size: 16px; /* Font size */
    cursor: pointer;
}

/* Add a right arrow using CSS content property */
.arrow-button::before {
    content: '\2192'; /* Unicode character for right arrow */
    margin-left: 10px; /* Space between arrow and text */
}

/* Style for the left arrow button */
.left-arrow-button {
    background-color: #0074d9; /* Background color */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 20px; /* Padding for button size */
    font-size: 16px; /* Font size */
    cursor: pointer;
}

/* Add a left arrow using CSS content property */
.left-arrow-button::before {
    content: '\2190'; /* Unicode character for left arrow */
    margin-right: 10px; /* Space between arrow and text */
}

.integer-input {
    width: 100px; /* Set the width as needed */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center; /* Center the text in the input */
}

/* Apply additional styles when the input is in focus */
.integer-input:focus {
    border-color: #007bff; /* Change border color on focus */
}

