<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="~/MainStyle.css" />
        <link rel="stylesheet" type="text/css" href="~/ContainerStyle.css" />
        <meta charset="UTF-8">      
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>