<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/Header.css" />
    <link rel="stylesheet" type="text/css" href="css/ContainerStyle.css" />
    <link rel="stylesheet" type="text/css" href="css/CreateGroup.css" />
</head>
<header>
    <div class="header-container">
        <a class="return-button" href="~/">Main page</a>
        <h1 class="circled-title element">That's time!</h1>
    </div>
</header>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
