@page "/creategroup"
@model CreateGroupModel

@{
    Layout = "_SecondaryLayout.cshtml";
}

<form class="group-form" method="post">
    <span asp-validation-for="GroupCreateError" class="text-danger"></span>
    <label for="group-name">Enter Group Name:</label>
    <input asp-for="GroupName" type="text" id="group-name" name="group-name" placeholder="Your Group Name" required>
    <button type="submit">Create Group</button>
</form>
