table {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #000;
    border-radius: 10px; /* Round the corners of the table */
    overflow: hidden;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.element:nth-child(1) {
    margin-right: auto; /* Pushes the first element to the left */
}

.element:nth-child(2) {
    margin: 0 auto; /* Centers the second element */
}

/* For the third element to be at the right side */
.element:nth-child(3) {
    margin-left: auto; /* Pushes the third element to the right */
}
