<!DOCTYPE html>

<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="css/Header.css" />
        <link rel="stylesheet" type="text/css" href="css/ContainerStyle.css" />
        <link rel="stylesheet" type="text/css" href="css/Login.css" />
        <link rel="stylesheet" type="text/css" href="css/Register.css" />
        <link rel="stylesheet" type="text/css" href="css/Logout.css" />
    </head>
    <body>
        <div class="m-2">
            @RenderBody()
        </div>
    </body>
</html>