@page "/login"
@model LoginModel

<div class="m-1 text-danger" asp-validation-summary="All"></div>

<div class="login-container">
    <h1>THAT'S TIME!</h1>
    <h2>Login</h2>
    <form class="login-form" method="post">
        <input asp-for="UserName" type="text" placeholder="Username" required><br>
        <input asp-for="Password" type="password" placeholder="Password" required><br>
        <button type="submit">Login</button>
    </form>
    <div class="register-link">
        Don't have an account? <a href="~/register">Register</a>
    </div>
</div>

@functions{
    public class LoginModel: PageModel
    {
        private SignInManager<IdentityUser> signInManager;
        public HttpClient Http;

        public LoginModel(SignInManager<IdentityUser> signinMgr)
        {
            signInManager = signinMgr;
        }

        [BindProperty]
        public string UserName { get; set; } = string.Empty;

        [BindProperty]
        public string Password { get; set; } = string.Empty;

        [BindProperty(SupportsGet = true)]
        public string? ReturnUrl { get; set; }

        public async Task<IActionResult> OnPostAsync()
        {
            if (ModelState.IsValid)
            {
                Microsoft.AspNetCore.Identity.SignInResult result =
                    await signInManager.PasswordSignInAsync(UserName, Password, false, false);

                if (result.Succeeded)
                    return Redirect(ReturnUrl ?? "/");
                ModelState.AddModelError("", "Invalid username or password");
            }
            return Page();
        }

        //public async Task<IActionResult> OnPostAsync()
        //{
        //    if (ModelState.IsValid)
        //    {
        //        var payload = new { username = UserName, Password = Password };
        //        string jsonPayLoad = JsonSerializer.Serialize(payload);
        //        var content = new StringContent(jsonPayLoad, Encoding.UTF8, "application/json");

        //        HttpResponseMessage response = await Http.PostAsync($"/api/account/token", content);
        //        if (response.IsSuccessStatusCode)
        //        {
                    
        //        }
        //    }
        //    return Page();
        //}

    }
}
