@page "/login"
@model LoginModel

<div class="bg-primary text-center text-white p-2"><h4>Log In</h4></div>

<div class="m-1 text-danger" asp-validation-summary="All"></div>

<form method="post">
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <div class="form-group">
        <label>UserName</label>
        <input class="form-control" asp-for="UserName" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>
    <div class="d-flex justify-content-center"> 
        <button class="btn btn-primary mt-2 text-center">Log In</button>
    </div>
</form>

<div class="text-center">
    <label>If you don't have account create one!</label>
    <a asp-page="Register">Create Account</a> 
</div>

@functions{
    public class LoginModel: PageModel
    {
        private SignInManager<IdentityUser> signInManager;
        public HttpClient Http;

        public LoginModel(SignInManager<IdentityUser> signinMgr)
        {
            signInManager = signinMgr;
        }

        [BindProperty]
        public string UserName { get; set; } = string.Empty;

        [BindProperty]
        public string Password { get; set; } = string.Empty;

        [BindProperty(SupportsGet = true)]
        public string? ReturnUrl { get; set; }

        public async Task<IActionResult> OnPostAsync()
        {
            if (ModelState.IsValid)
            {
                Microsoft.AspNetCore.Identity.SignInResult result =
                    await signInManager.PasswordSignInAsync(UserName, Password, false, false);

                if (result.Succeeded)
                    return Redirect(ReturnUrl ?? "/mainpage");
                ModelState.AddModelError("", "Invalid username or password");
            }
            return Page();
        }

        //public async Task<IActionResult> OnPostAsync()
        //{
        //    if (ModelState.IsValid)
        //    {
        //        var payload = new { username = UserName, Password = Password };
        //        string jsonPayLoad = JsonSerializer.Serialize(payload);
        //        var content = new StringContent(jsonPayLoad, Encoding.UTF8, "application/json");

        //        HttpResponseMessage response = await Http.PostAsync($"/api/account/token", content);
        //        if (response.IsSuccessStatusCode)
        //        {
                    
        //        }
        //    }
        //    return Page();
        //}

    }
}
