@page "/logout"
@model LogoutModel

<div class="logout-container">
    <h1>You've been logged out</h1>
    <p>Thank you for using our service.</p>
    <a href="~/login">OK</a>
</div>

@functions{

    public class LogoutModel: PageModel
    {
        private SignInManager<IdentityUser> signInManager;

        public LogoutModel(SignInManager<IdentityUser> signIdMgr)
        {
            signInManager = signIdMgr;
        }

        public async void OnGetAsync()
        {
            await signInManager.SignOutAsync();
        }
    }
}
