@page "/logout"
@model LogoutModel

<div class="bg-primary text-center text-white p-2"><h4>Log Out</h4></div>
<div class="m-2 text-center">
    <h6>You are logged out</h6>
    <a asp-page="Login" class="btn btn-secondary mt-2">OK</a>
</div>

@functions{

    public class LogoutModel: PageModel
    {
        private SignInManager<IdentityUser> signInManager;

        public LogoutModel(SignInManager<IdentityUser> signIdMgr)
        {
            signInManager = signIdMgr;
        }

        public async void OnGetAsync()
        {
            await signInManager.SignOutAsync();
        }
    }
}
